@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: radial-gradient(circle at top left, #1a1a1a, #000000);
  color: #e5e7eb;
}

@layer components {
  .glass {
    @apply bg-white/5 backdrop-blur-lg border border-white/10;
  }
}
